.loader {
    background: rgba (255, 255, 255, 0.8);
    display: none;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.loader.blur-background {
    backdrop-filter: blur(5px);
    /* Adjust the blur intensity as needed */
}
.loader img {
    left: 50%;
    margin-left: -32px;
    margin-top: -32px;
    position: absolute;
    top: 50%;
}
